
@import "~bootstrap/scss/bootstrap";
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(62, 180, 137);
  min-height: 100vh;
  font-family: "Helvetica";
  font-size: 1vw;
}
div {
  box-sizing: border-box;
}

svg {
  width: 1.5vw;
  height: 1.5vw;
}

//navbar component styling
#navbar {
  padding: 1vw .5vw;
  min-height: 110px;
  height: 5vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0.1vw 0.1vw 0.2vw 0.2vw rgba(158, 157, 157, 0.25);
  font-size: 1.8vw;
  color: white;
  border-bottom: 4px solid rgb(31, 88, 68);
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: .5vw;
}


#right-navbar,
#left-navbar {
  display: flex;
  margin: 3%;
  align-items: center;
  justify-content: center;
}

#navbar a {
  text-decoration: none;
  color: white;
  padding: 0.4vw 0.4vw 0.4vw 0.4vw;
}

#navbar path {
  fill: white;
}

#navbar img {
  width: 4vw;
  height: 4vw;
  padding: 0;
  animation-name: outRot;
  transition: 40s 40s ease-in-out all;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  padding: 0.4vw 0.4vw 0.4vw 0.4vw;
}

#navbar a:hover {
  border-bottom: 2px solid white;
  background: rgba(50, 116, 109, 0.2);
  border-radius: 0.1vw;
}

@keyframes outRot {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
//filler component styling
#kubric-font{
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1.5vw;
  text-shadow: 0px 0px 0px !important;
}
#filler {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0vw;
  align-items: center;
  background-color: rgb(73, 93, 112);
  text-shadow: 0.5px 0.5px 2px #000000;
 
}
#filler span {
  display: flex;
  background-color: inherit;
  margin: 0vw 0vw;
  min-height: 20px;
  width: 100%;
  justify-content:center;
  font-size: 2.5vw;
  padding: 0vw 20vw;
  color: whitesmoke;
  text-align: center;
  font-weight: bold;
}
#filler #headline {
  padding: 1vw 20vw 0vw 20vw;
  letter-spacing: .25vw;
  text-shadow: 0.5px 0.5px 2px #000000;
  
}
#filler svg {
  width:12vw;
  height:12vw;
  padding: 0vw 2vw 2vw 2vw;
}
#filler #logsvg {
  font-size:1.5vw;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: .5vw;
  padding: 0vw 2vw 0vw 2.5vw;
  display:flex;
  color:whitesmoke;
  flex-direction:column;
}
#filler #graphsvg {
  font-size:1.5vw;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: .5vw;
  padding: 0vw 3.25vw 0vw 2vw;
  display:flex;
  color:whitesmoke;
  flex-direction:column;
}

#filler div {
  display: flex;
  align-items: center;
  font-size: 2vw;
  padding: 0vw 0vw;
  background-color: inherit;
  color: whitesmoke;
  text-align: center;
  font-weight: normal;
  margin-top: 0px;
  text-shadow: 0.5px 0.5px 2px #000000;
}
#filler em {
  color: rgb(62, 180, 137);
  margin: 0vw .25vw;
  font-style: normal;
  text-shadow: 0.5px 0.5px 2px rgb(70, 70, 70);
}

//demo component styling

#demo {
  width: 100%;
  height: 100%;
  padding: 2vw 2vw 2vw 2vw;
  font-size: 1.5vw;
  display:flex;
  align-items:center;
  justify-content:space-around;
}
#demo #carouselHolder{
  
  width: 60vw;
}

.imgStyle {
  border-width: 4px;
  border-radius: 4px;
  border-style: groove;
  width: 60vw;
  height: 30vw;
  box-shadow: 0vw 1vw 0.5vw 0vw rgba(158, 157, 157, 0.25);
}


//people component styling

#people-comp {
  color: white;
  padding: 1em 0;
  text-shadow: 0.25px 0.25px 0.5px rgba(182, 178, 178, 0.719);
}

#people-comp #title {
  display:flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  font-size: 2vw;
  letter-spacing:.25vw;
  padding:0vw;
  //font-weight: bold;
}

.name {
  font-weight: bolder;
}

#people {
  display: flex;
  align-items: center;
  justify-content: space-around;
  //background-color:rgb(62, 180, 137);
}

#people-comp div {
  padding: 0.2em;
}

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space;
  color:white;
  padding: 1vw 1vw !important;
  border-radius: .5vw;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.person img {
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
}

#people a {
  text-decoration: none;
  color: white;
  padding: 0.5em;
}

#people a:hover {
  border-bottom: 1px solid black;
  transition: 2s ease-in-out all;
}
#people path {
  fill: white;
}
//footer component styling

#footer {
  display: flex;
  justify-content: center;
  background-color: rgb(73, 93, 112);
  padding: 1em;
  color: white;
  text-align: center;
}

#footer div {
  border-right: 3px solid white;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  text-align: center;
}

#footer a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#footer a:hover {
  border-bottom: 2px solid white;
  transition: 2s ease-in-out all;
}
#footer em {
  color: rgb(62, 180, 137);
  font-style: normal;
}

//go to top of the page piece
#toNavbar {
  bottom: 1.5vw;
  right: 1.5vw;
  width: 1vw;
  height: 1vw;
  position: fixed;
  z-index: 1;
  color: white;
}
